<p>
Welcome to claims!
<br><br>

How it works:<br>
Boards on Librechan <strong>ONLY</strong> go up for claim if the owner has failed to login to their board within 2 weeks, <strong>regardless of how much user activity the board has.</strong> Unlike other imageboards with claims, user activity has nothing to do with when a board goes up for claim. If you do not login to your board within 2 weeks, your board will go up for claim on this page.
<br><br>

Some rules:<br>
Below is a list of boards that are considered abandoned by their owners and can be taken over by anyone. Please only claim one to two boards at a time. More than one board will be placed on more than one account. Emails requesting more than one to two boards will be ignored. Please include relevant experience with the board's subject if applicable. Most boards are given away at a <strong>first come first serve</strong> basis, but large boards with long histories may wait for multiple applications before a deicison is made.
<br><br>

Additionally,<br>
Please note, taking over a board and then making it impossible to post on, via CSS tricks is not allowed. Do not claim boards with the sole purpose of posting or spreading illegal content. (See <a href="/faq.html">FAQ</a>) If a user of your board reports it to Librechan staff, he may get the board instead.
<br><br>

How long the process may take:<br>
Claims emails may take up to a week to be responded to depending on the board in question, and invalid claims may not be responded to at all. If you need a new board immediately and are not overly concerned with the name, it is recommended to go through the <a href="/create.php">automatic board creation</a> process instead.
<br><br>

To claim one of these boards and run it yourself, send an email to <a href="mailto:claims_librechan@openmailbox.org">claims_librechan@openmailbox.org</a>.
<br><br>

Thanks for using librechan.net.
<br><br>

This page is regenerated every five minutes.
</p>

<table>
	<thead>
		<tr>
			<th>Board URI</th>
			<th>Last active</th>
			<th>Owner last active</th>
			<th>Claim board</th>
		</tr>
	</thead>
	{% for board in delete %}
		<tr>
			<td> <a href="{{ board.board }}">{{ board.board }}</a> </td>
			<td> {{ board.last_activity_date }} </td>
			<td> {{ board.last_mod_f }} </td>
			<td> <a href="mailto:claims_librechan@openmailbox.org?subject=I'd like to claim /{{ board.board }}/">Claim (opens email)</a></td>
		</tr>
	{% endfor %}
</table>
