{% if config.attention_bar %}
<div style="text-align: center" class="announcement board-owners-or-users-feel-free-to-hide">
<div style="display: block; text-align: center; font-size: 1em; line-height: 1.2em;">
	<strong style="font-size:2em">
	<!-- Announcements go here -->

	</strong>
</div>
</div>
{% endif %}
