{% if config.poster_ids or (mod|hasPermission(config.mod.show_ip_less, board.uri)) %}
	{% if post.ip == '127.0.0.1' %}
		 <span class="poster_id" title="This user is posting via the Tor hidden service.">TOR</span>
	{% elseif post.ip == '127.0.0.2' %}
		 <span class="poster_id" title="The records for this IP do not exist anymore">LIBRE</span>
	{% elseif post.thread %}
		 <span class="poster_id">{{ poster_id(post.ip, post.thread, board.uri) }}</span>
	{% else %}
		 <span class="poster_id">{{ poster_id(post.ip, post.id, board.uri) }}</span>
	{% endif %}
{% endif %}
